<footer th:fragment="footer">
    <div class="container mx-auto p-5 md:p-10">
        <div class="md:flex justify-between">
            <div class="md:flex md:gap-4">
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black md:hidden"
                   th:href="@{/blog}">Blog</a>
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black md:hidden"
                   th:href="@{/recommended-books}">Recommended books</a>
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black "
                   href="mailto:prakashabhishek6262@gmail.com">prakashabhishek6262@gmail.com</a>
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black"
                   href="https://emerald-sandi-95.tiiny.site" target="_blank">Resume</a>
            </div>

            <div class="md:flex md:gap-4">
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black"
                   href="https://www.linkedin.com/in/abhishek-prakash6262/" target="_blank">LinkedIn</a>
                <a class="block border-b-2 py-2 md:pb-1 transition-colors hover:border-b-black"
                   href="https://twitter.com/_the_shade" target="_blank">Twitter</a>
            </div>
        </div>
    </div>
</footer>