<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Abhishek Prakash | Oops! Something went wrong.</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>

<body class="flex h-dvh flex-col bg-white">
<header th:replace="~{fragments/header::header}"></header>

<main class="flex-1 grid place-items-center">
    <section class="container mx-auto">
        <div class="text-center">
            <h1 class="text-9xl font-bold text-gray-900 italic leading-relaxed">Oops!</h1>
            <p class="text-2xl">Something went wrong.</p>
        </div>
    </section>
</main>

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>